.mainNav{
    padding: 25px;
    background-color: black;
    display: flex;
    justify-content: space-around;
    font-size: 25px;
}

.mainNav a{
    text-decoration: none;
    color: rgb(161, 156, 156);
    transition: all 0.5s;
}

.mainNav .active{
    text-decoration: underline;
    transform: scale(1.2);
    color: white;
}